SERVICE_NAME=wallet-service
NODE_ENV=development
PORT=3003
MONGO_URI=mongodb://localhost:27017/walletdb
FRONTEND_URL=

JWT_SECRET=
EXCHANGE_RATE_API_KEY=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

MONNIFY_SANDBOX_URL=https://sandbox.monnify.com
MONNIFY_BASE_URL=https://api.monnify.com
MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=

FLW_SANDBOX_URL=
FLW_BASE_URL=
FLW_SEC_KEY=
FLW_PUB_KEY=
FLW_ENC_KEY=
