SERVICE_NAME=notification-service
NODE_ENV=development
PORT=3004

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

MAIL_PROVIDER=resend

MAILTRAP_TOKEN=
MAILTRAP_ENDPOINT=

RESEND_TOKEN=
RESEND_MAIL=

GMAIL_USER=
GMAIL_APP_PASSWORD=

FCM_SERVER_KEY=
