SERVICE_NAME=account-service
NODE_ENV=development
PORT=3001
MONGO_URI=mongodb://localhost:27017/user_service
JWT_SECRET=
REFRESH_TOKEN_SECRET=

#SMTP CONFIGURATION
MAIL_PROVIDER= #mailtrap/resend/gmail


#MAILTRAP CONFIGURATION
MAILTRAP_EMAIL=
MAILTRAP_TOKEN=
MAILTRAP_ENDPOINT=


#RESEND CONFIGURATION
RESEND_MAIL=
RESEND_TOKEN=

#GMAIL Configuration
GMAIL_USER=
GMAIL_APP_PASSWORD=

#REDIS CONFIG
REDIS_HOST=
REDIS_PORT=


ENCRYPTION_KEY=